@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background: #f5f2f8;
  overflow: hidden;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.pixel-border {
  border: 3px solid #ddd5ea;
  border-radius: 14px;
  box-shadow: 4px 4px 0px #ece7f4;
}

.pixel-art {
  image-rendering: pixelated;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}